<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitchBot Control Panel</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fonst/source-code-pro.css" rel="stylesheet">
  </head>
  <style rel="stylesheet">
    body {
      background-color: rgb(51, 49, 49);
    }

    #config-textarea, #filters-textarea {
      font-family: "Source Code Pro";
    }
  </style>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="#">Config & Filters</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <!-- https://github.com/WebCoder49/code-input -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <textarea name="" id="#config-textarea" cols="100" rows="30"></textarea>
        </div>
        <div class="col-md-6">
          <textarea name="" id="#filters-textarea" cols="100" rows="30"></textarea>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    const ws = new WebSocket("ws://127.0.0.1:8811");
    const config_textarea = document.getElementById("#config-textarea");
    const filters_textarea = document.getElementById("#filters-textarea");

    ws.onopen = (event) => {
      ws.send("#requestconfig:#requestfilters");
    };

    ws.onmessage = (event) => {
      const response = event.data.split("///");

      config_textarea.value = response[0];
      filters_textarea.value = response[1];
    };
  </script>
</html>