<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitchBot Control Panel</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fonst/source-code-pro.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/config">Config</a>
            <a class="nav-link active" href="#">Filters</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="button-pannel">
          <div class="col">
            
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    const server = JSON.parse('<%- JSON.stringify(server) %>');
    const filters_textarea = document.getElementById("#filters-textarea");

    const ws = new WebSocket(`ws://${server.host}:${server.port}`);

    ws.onopen = (event) => { ws.send("#requestfilters"); };

    ws.onmessage = (event) =>
    {
      const response = event.data.split("///");
      if (response[0].startsWith("#"))
      {
        const command = response[0].replace("#", "");
        if (command === "filters")
        {
          filters_textarea.value = response[1];
        }
      }
    };

    function sendFiltersToServer() { ws.send(`/updatefilters###${filters_textarea.value}`); }
  </script>
</html>