<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitchBot Control Panel</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/config">Config</a>
            <a class="nav-link" href="/filters">Filters</a>
            <a class="nav-link" href="/logs">Logs</a>
          </div>
        </div>
      </div>
  </header>
  <body>
    <div class="container">

      <!-- Connection status -->
      <div class="bot-functional-container">
        <div class="bot-functional-container-header">
          <label class="container-name-label">Status</label>
        </div>
        <div class="bot-functional-container-body">
          <div class="row">
            <div class="col-auto">
              <p class="bot-functional-container-text text-connection-status-not-connected" id="server-connection-status">No connection</p>
              <p class="bot-functional-container-text" id="server-status-message">##No data##</p>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <input type="checkbox" class="btn-check" id="update-status-checkbox" autocomplete="off" onclick="doCheckServerStatus()">
              <label class="btn btn-outline-primary" for="update-status-checkbox">Autorefresh</label>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Moderation commands -->
      <div class="bot-functional-container">
        <div class="bot-functional-container-header">
          <label class="container-name-label">Moderation</label>
        </div>
        <div class="bot-functional-container-body">
          <div class="row bot-functional-container-button-box">
            <div class="col-auto">
              <div class="btn-group" role="group">
                <input type="checkbox" class="btn-check" id="mira-muted-checkbox" autocomplete="off" onclick="sendMiraMute()">
                <label class="btn btn-outline-primary" for="mira-muted-checkbox">Mira command</label>

                <input type="checkbox" class="btn-check" id="ben-muted-checkbox" autocomplete="off" onclick="sendBenMute()">
                <label class="btn btn-outline-primary" for="ben-muted-checkbox">Ben command</label>

                <input type="checkbox" class="btn-check" id="iq-muted-checkbox" autocomplete="off" onclick="sendIqMute()">
                <label class="btn btn-outline-primary" for="iq-muted-checkbox">Iq command</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Channel commands -->
      <div class="bot-functional-container">
        <div class="bot-functional-container-header">
          <label class="container-name-label">Channel management</label>
        </div>
        <div class="bot-functional-container-body">
          <div class="row bot-functional-container-button-box">
            <div class="col-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-channel-popup">
                Add channel
              </button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#remove-channel-popup">
                Remove channel
              </button>
            </div>
          </div>

          <br>

          <div class="row bot-functional-container-button-box">
            <div class="col-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#join-channel-popup">
                Join channel
              </button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leave-channel-popup">
                Leave channel
              </button>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- System commands -->
      <div class="bot-functional-container">
        <div class="bot-functional-container-header">
          <label class="container-name-label">System</label>
        </div>
        <div class="bot-functional-container-body">
          <div class="row bot-functional-container-button-box">
            <div class="col-auto">
              <button type="button" class="btn btn-danger" onclick="sendRestartCommand()">Restart</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add channel / Remove channel popups -->
      <div class="modal fade" id="add-channel-popup" tabindex="-1" aria-labelledby="add-channel-popup-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add-channel-popup-label">Add channel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <label for="add-channel-input" class="col-form-label">Channel name:</label>
                <div class="col-lg">
                  <input type="text" class="form-control" id="add-channel-input" name="add-channel-input">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendAddChannel()">Ok</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="remove-channel-popup" tabindex="-1" aria-labelledby="remove-channel-popup-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="remove-channel-popup-label">Remove channel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <label for="remove-channel-input" class="col-form-label">Channel name:</label>
                <div class="col-lg">
                  <input type="text" class="form-control" id="remove-channel-input" name="remove-channel-input">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendRemoveChannel()">Ok</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Join channel / Leave channel popups -->
      <div class="modal fade" id="join-channel-popup" tabindex="-1" aria-labelledby="join-channel-popup-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="join-channel-popup-label">Join to channel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <label for="join-channel-input" class="col-form-label">Channel name:</label>
                <div class="col-lg">
                  <input type="text" class="form-control" id="join-channel-input" name="join-channel-input">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendJoinChannel()">Ok</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="leave-channel-popup" tabindex="-1" aria-labelledby="leave-channel-popup-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="leave-channel-popup-label">Leave from channel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <label for="leave-channel-input" class="col-form-label">Channel name:</label>
                <div class="col-lg">
                  <input type="text" class="form-control" id="leave-channel-input" name="leave-channel-input">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendLeaveChannel()">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    const CHECK_STATUS_INTERVAL = 5000;

    const server = JSON.parse('<%- JSON.stringify(server) %>');
    const ws = new WebSocket(`ws://${server.host}:${server.port}`);
    
    const connection_status_text = document.querySelector("#server-connection-status");
    const server_status_message_text = document.querySelector("#server-status-message");
    
    const mira_muted_checkbox = document.querySelector("#mira-muted-checkbox");
    const ben_muted_checkbox = document.querySelector("#ben-muted-checkbox");
    const iq_muted_checkbox = document.querySelector("#iq-muted-checkbox");
    const autorefresh_status_checkbox = document.querySelector("#update-status-checkbox");
    
    const add_channel_input = document.querySelector("#add-channel-input");
    const remove_channel_input = document.querySelector("#remove-channel-input");
    const join_channel_input = document.querySelector("#join-channel-input");
    const leave_channel_input = document.querySelector("#leave-channel-input");

    let is_connected = false;

    function doCheckServerStatus()
    {
      if (autorefresh_status_checkbox.checked)
      {
        if (is_connected)
        {
          setTextStatusConnected();
          sendRequestStatus();
        }
        else
        {
          setTextStatusNotConnected();
        }
        setTimeout(doCheckServerStatus, CHECK_STATUS_INTERVAL);
      }
    }

    function setTextStatusConnected()
    {
      connection_status_text.innerHTML = "Connected";
      connection_status_text.classList.add("text-connection-status-connected");
      connection_status_text.classList.remove("text-connection-status-not-connected");
    }

    function setTextStatusNotConnected()
    {
      connection_status_text.innerHTML = "No connection";
      connection_status_text.classList.add("text-connection-status-not-connected");
      connection_status_text.classList.remove("text-connection-status-connected");
      server_status_message_text.innerHTML = "##No data##";
    }

    ws.onopen = (event) => {
      is_connected = true;
      setTextStatusConnected();
      sendRequestMuteState();
      sendRequestStatus();
    };

    ws.onclose = (event) => {
      is_connected = false;
      setTextStatusNotConnected();
    };

    ws.onmessage = (event) => {
      const message = event.data;

      if (message.startsWith("#"))
      {
        const status_message = message.split("///");
        server_status_message_text.innerHTML = status_message[1];
      }
      else
      {
        //      Mira               Ben               Iq
        // <true or false>///<true or false>///<true or false>
        const response = message.split("///");
        console.info("[/] Returned resonse from server: " + response);

        const mira_is_muted = response[0] === "true";
        const ben_is_muted = response[1] === "true";
        const iq_is_muted = response[2] === "true";

        mira_muted_checkbox.checked = !mira_is_muted;
        ben_muted_checkbox.checked = !ben_is_muted;
        iq_muted_checkbox.checked = !iq_is_muted;
      }
    };

    function sendRequestStatus()
    {
      ws.send("#requeststatus");
    }

    function sendRequestMuteState()
    {
      ws.send("#requestmutestate");
    }

    function sendMiraMute()
    {
      const value = !mira_muted_checkbox.checked;
      ws.send(`/miramute###${value}`);
    }

    function sendBenMute()
    {
      const value = !ben_muted_checkbox.checked;
      ws.send(`/benmute###${value}`);
    }

    function sendIqMute()
    {
      const value = !iq_muted_checkbox.checked;
      ws.send(`/iqmute###${value}`);
    }

    function sendAddChannel()
    {
      const channel_name = add_channel_input.value;
      ws.send(`/addchannel###${channel_name}`);
    }

    function sendRemoveChannel()
    {
      const channel_name = remove_channel_input.value;
      ws.send(`/rmchannel###${channel_name}`);
    }

    function sendJoinChannel()
    {
      const channel_name = join_channel_input.value;
      ws.send(`/join###${channel_name}`);
    }

    function sendLeaveChannel()
    {
      const channel_name = leave_channel_input.value;
      ws.send(`/join###${channel_name}`);
    }

    function sendRestartCommand()
    {
      ws.send("/restart");
    }
  </script>
</html>