<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitchBot Control Panel</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
  </head>
  <header>    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/config">Config</a>
            <a class="nav-link" href="/filters">Filters</a>
          </div>
        </div>
      </div>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            aria-pressed="false"
            autocomplete="off"
            id="#mira-mute-btn"
            onclick="sendMiraMute()"
          >
            Mira mute
          </button>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            aria-pressed="false"
            autocomplete="off"
            id="#ben-mute-btn"
            onclick="sendBenMute()"
          >
            Ben mute
          </button>
        </div>
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="button"
            aria-pressed="false"
            autocomplete="off"
            id="#iq-mute-btn"
            onclick="sendIqMute()"
          >
            Iq mute
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-primary" onclick="sendRestartCommand()">Restart</button>
        </div>
      </div>
    </div>
  </body>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    const server = JSON.parse('<%- JSON.stringify(server) %>');
    const ws = new WebSocket(`ws://${server.host}:${server.port}`);

    const mira_mute_btn = document.getElementById("#mira-mute-btn");
    const ben_mute_btn = document.getElementById("#ben-mute-btn");
    const iq_mute_btn = document.getElementById("#iq-mute-btn");

    ws.onopen = (event) => {
      console.info("[/] Sending command to request command state");
      ws.send("#requestmutestate");
    };

    ws.onmessage = (event) => {
      //      Mira               Ben               Iq
      // <true or false>///<true or false>///<true or false>
      const response = event.data.split("///");
      console.info("[/] Returned resonse from server: " + response);

      const mira_is_muted = response[0];
      const ben_is_muted = response[1];
      const iq_is_muted = response[2];

      mira_mute_btn.setAttribute("aria-pressed", mira_is_muted);
      ben_mute_btn.setAttribute("aria-pressed", ben_is_muted);
      iq_mute_btn.setAttribute("aria-pressed", iq_is_muted);

      if (mira_is_muted === "true") { mira_mute_btn.classList.add("active"); }
      if (ben_is_muted === "true")  { ben_mute_btn.classList.add("active"); }
      if (iq_is_muted === "true")   { iq_mute_btn.classList.add("active"); }
    };

    function sendMiraMute()
    {
      const value = mira_mute_btn.getAttribute("aria-pressed");
      ws.send(`/miramute###${value}`);
    }

    function sendBenMute()
    {
      const value = mira_mute_btn.getAttribute("aria-pressed");
      ws.send(`/benmute###${value}`);
    }

    function sendIqMute()
    {
      const value = mira_mute_btn.getAttribute("aria-pressed");
      ws.send(`/iqmute###${value}`);
    }

    function sendRestartCommand()
    {
      ws.send("/restart");
    }

  </script>
</html>