.bot-functional-container {
  border: solid 1px rgb(179, 86, 255);
  border-radius: 8px;
}

.bot-functional-container-header,
.bot-functional-container-footer {
  margin: 4px;
}

.bot-functional-container-body {
  margin: 5px;
}

.bot-functional-container-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot-functional-container-text {
  font-size: 18px;
  color: white;
}

.container-name-label {
  font-size: 20px;
  color: white;
}

.text-connection-status-not-connected {
  color: rgb(236, 37, 37);
}

.text-connection-status-connected {
  color: rgb(121, 204, 26);
}
